/* src/components/Home.css */
.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
  }
  
  .story {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /*Esto es una prueba de modificacion*/